.c-top-navbar,
.c-side-navbar {
  display: none;
}
.c-navbar--show-items {
  display: block;
}
.c-mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navbar__toggle,
.mobile-navbar__close {
  padding-right: 10px;
}
.c-top-navbar__menu,
.c-side-navbar__menu,
.c-side-navbar__sub-menu {
  list-style: none;
  padding-left: 0;
}
.c-top-navbar__link,
.c-side-navbar__link {
  text-decoration: none;
  color: var(--clr-text-primary);
}
.c-top-navbar__link:hover,
.c-side-navbar__link:hover {
  color: var(--clr-text-secondary);
}
.c-side-navbar__sub-menu {
  margin: 16px 0;
}

/*Styling for Colours page*/
.colours-page {
  background-color: #999999;
}

/*Active state styling*/
.c-top-navbar__link.link--active,
.c-side-navbar__link.link--active {
  color: var(--clr-text-secondary);
}

/*Styling for colour swatch blocks*/
.c-colour-swatch {
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
}

/*Styling for headings*/
h2 {
  font-size: 42px;
  margin-bottom: 32px;
  margin-top: 48px;
}
h3 {
  font-size: 28px;
  margin-top: 48px;
  margin-bottom: 20px;
}

/*Styling for table*/
.colour-combinations__table {
  border-collapse: collapse;
  text-align: center;
}
.colour-combinations__table-heading,
.colour-combinations__table-data {
  border: 1px solid #000;
  padding: 10px;
}

/*Styling for Desktop screens*/
@media screen and (min-width: 1200px) {
  .mobile-navbar__toggle {
    display: none !important;
  }
  .c-top-navbar,
  .c-side-navbar {
    display: block;
  }
  .c-desktop-header {
    display: flex;
    justify-content: space-between;
  }
  .c-top-navbar__menu {
    display: flex;
  }
}