:root {
  /*Color variables*/
  --clr-text-primary: #070F2B;
  --clr-bg-primary: #FEFBF6;
  --clr-text-secondary: #211951;
  --clr-bg-secondary: #F0F3FF;
  --clr-accent: #F57D1F;
  --clr-bg-primary-100: #211951;
  --clr-bg-primary-200: #b5f6eb;
  --clr-bg-accent-100: #ECB159;
  --clr-bg-accent-200: #12372A;

  /*Font variables*/
  --heading-font: 'Cabin', sans-serif;
  --body-font: 'Playfair Display', serif;

  --heading-size-xl: 2.5rem;
  --heading-size-lg: 2rem;
  --heading-size-md: 1.5rem;
  --heading-size-sm: 1.25rem;
  --body-size-lg: 2.5rem;
  --body-size-md: 1rem;

  --heading-weight-bold: bold;
  --heading-weight-regular: normal;
  --body-weight-regular: normal;

  --heading-line-height: 1.2;
  --body-line-height: 1.5;

  --letter-spacing-normal: 0.5px;
}

/*Border box fix*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Reset browser-default margin*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/*Reset padding value of list element*/
li {
  padding: 0;
}

/*Utility classes for all the colors*/
.u-text-primary {
  color: var(--clr-text-primary);
}

.u-text-secondary {
  color: var(--clr-text-secondary);
}

.u-bg-primary {
  background-color: var(--clr-bg-primary);
}

.u-bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.u-accent {
  color: var(--clr-accent);
  background-color: var(--clr-accent);
}

.u-bg-primary-light {
  background-color: var(--clr-bg-primary-100);
}

.u-bg-primary-dark {
  background-color: var(--clr-bg-primary-200);
}

.u-bg-accent-light {
  background-color: var(--clr-bg-accent-100);
}

.u-bg-accent-dark {
  background-color: var(--clr-bg-accent-200);
}

/*Utility classes for font family*/
.u-heading-font {
  font-family: var(--heading-font);
}
.u-body-font {
  font-family: var(--body-font);
}
.u-heading-xl {
  font-size: var(--heading-size-xl);
}
.u-heading-lg {
  font-size: var(--heading-size-lg);
}
.u-heading-md {
  font-size: var(--heading-size-md);
}
.u-heading-sm {
  font-size: var(--heading-size-sm);
}
.u-body-lg {
  font-size: var(--body-size-lg);
}
.u-body-md {
  font-size: var(--body-size-md);
}
.u-heading-bold {
  font-weight: var(--heading-weight-bold);
}
.u-heading-regular {
  font-weight: var(--heading-weight-regular);
}
.u-body-regular {
  font-weight: var(--body-weight-regular);
}
.u-heading-line-height {
  line-height: var(--heading-line-height);
}
.u-body-line-height {
  line-height: var(--body-line-height);
}
.u-letter-spacing-normal {
  letter-spacing: var(--letter-spacing-normal);
}